body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-size: 1em;
    background-color: inherit;
    border-bottom: 1px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
}

#rooms
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 Spalten nebeneinander */
    gap: 20px; /* Abstand zwischen den Elementen */
}

#rooms div
{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#rooms div h2
{
    margin-top: 0;
    font-size: 16px;
}