body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-size: 1em;
    background-color: inherit;
    border-bottom: 1px solid black;
    padding-top: 1emç;
    padding-bottom: 1em;
}

#rooms
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 Spalten nebeneinander */
    gap: 20px; /* Abstand zwischen den Elementen */
}

#rooms div
{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2
{
    margin-top: 0;
    font-size: 16px;
}

#dashboard
{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

#dashboard-content
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    text-align: center;

}

#dashboard-content div p
{
    margin: 5px;
}


#status
{
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
}

#desc
{   
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal
}

#input input
{
    width: 5em;
}